@page
@model Unicab.Web.Pages.PassengerModule.IndexModel
@{
    ViewData["Title"] = "Manage Passengers";
}

@section Stylesheets {
    <!-- iCheck -->
    <link href="~/lib/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><b>MANAGE PASSENGERS</b></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>New Passenger Registrations</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="PassengerApplicantsDataTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Matrics No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Email Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PassengerApplicants)
                                {
                                <tr>
                                    <td>
                                        <a asp-page="./ViewPassengerApplicant" asp-route-id="@item.PassengerApplicantId">View</a>
                                    </td>

                                    <td>@Html.DisplayFor(modelItem => item.MatricsNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Blacklisted Passengers</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="PassengerBlacklistsDataTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Driver ID</th>
                                    <th>Blacklisted Date/Time</th>
                                    <th>Blacklisted Duration</th>
                                    <th>Blacklisted Reason</th>
                                    <th>Unblacklisted Date/Time</th>
                                    <th>Unblacklisted Reason</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.PassengerBlacklists)
                                {
                                    <tr>
                                        <td>
                                            <a asp-page="./ViewPassengerBlacklist" asp-route-id="@item.PassengerBlacklistId">View</a>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.PassengerId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BlacklistedDateTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BlacklistedDuration)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BlacklistedReason)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UnblacklistedDateTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UnblacklistedReason)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Approved Passengers</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="PassengersDataTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Matrics No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Gender</th>
                                    <th>Email Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Passengers)
                                {
                                <tr>
                                    <td>
                                        <a asp-page="./ViewPassenger" asp-route-id="@item.PassengerId">View</a>
                                    </td>

                                    <td>@Html.DisplayFor(modelItem => item.MatricsNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- iCheck -->
    <script src="~/lib/gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/lib/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript">
        $("#PassengerApplicantsDataTable").DataTable();
        $("#PassengerBlacklistsDataTable").DataTable();
        $("#PassengersDataTable").DataTable();
    </script>
}