@page
@model Unicab.Web.Pages.LocationModule.IndexModel
@{
    ViewData["Title"] = "Location Management";
}

@section Stylesheets {
    <!-- iCheck -->
    <link href="~/lib/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><b>MANAGE PICK-UP / DROP-OFF LOCATIONS</b></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>New Location Registration</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form method="post" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Name: <span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input id="locationNameInput" type="text" class="form-control col-md-7 col-xs-12" asp-for="location.LocationName" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Latitude: <span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input id="locationNameLatInput" type="text" class="form-control col-md-7 col-xs-12" asp-for="location.LocationLatitude" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Location Longitude: <span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input id="locationNameLngInput" type="text" class="form-control col-md-7 col-xs-12" asp-for="location.LocationLongitude" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Location is in USM?: <span class="required">*</span></label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select id="isLocationUSMSelect" class="form-control" required asp-for="location.IsWithinUSM" asp-items="Model.IsWithinUSMOptions"></select>
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success" asp-page-handler="SaveNewLocation">Add to List</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Active Locations</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="LocationListDataTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Location ID</th>
                                    <th>Location Name</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Within USM?</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.LocationsList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.LocationId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LocationName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LocationLatitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LocationLongitude)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsWithinUSM)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- iCheck -->
    <script src="~/lib/gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/lib/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript">
        $("#LocationListDataTable").DataTable();
    </script>
}